<section class="resInfo card__body">
    <h3 class="resInfo__title">Skills</h3>
    <div>
      <div class="skill">
        <h4 class="tag tag--pill tag--main tag--lg">Angular</h4>
        <p class="skill__info">Gastropub occupy truffaut, ethical leggings vice yr franzen pour-over actually 90's selvage.</p>
      </div>
      <div class="skill">
        <h4 class="skill__tag tag tag--pill tag--main tag--lg">ASP.NET</h4>
        <p class="skill__info">Mumblecore fanny pack +1, single-origin coffee bicycle rights pug locavore kickstarter ramps raw denim edison bulb hot chicken iPhone readymade.</p>
      </div>
      <div class="skill">
        <h4 class="skill__tag tag tag--pill tag--main tag--lg">TypeScript</h4>
        <p class="skill__info">Typewriter williamsburg waistcoat whatever, paleo gentrify air plant.</p>
      </div>
      <h3 class="devInfo__subtitle">Other Skills</h3>
      <div class="devInfo__otherSkills">
        <span class="tag tag--pill tag--sub tag--lg">
            <small>HTML</small>
        </span>
        <span class="tag tag--pill tag--sub tag--lg">
          <small>CSS</small>
      </span>
      </div>
    </div>
</section>